apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed-job: "builder"
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 5
  ttlSecondsAfterFinished: 86400
  activeDeadlineSeconds: {{deadline}}
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      serviceAccountName: "cykubed"
      volumes:
        - name: scratch-volume
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: [ "ReadWriteOnce" ]
                storageClassName: "{{storage_class}}"
                resources:
                  requests:
                    storage: "{{storage}}Gi"
      restartPolicy: Never
      priorityClassName: "cykubed-low-priority"
      containers:
      - name: "cykubed-builder"
        image: "{{runner_image}}"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "cykubed-redis"
              key: "redis-password"
        - name: SCRATCH_DIR
          value: "/scratch"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "build", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{cpu_limit}}"
            memory: "{{memory_limit}}G"
            ephemeral-storage: "{{storage}}Gi"
          requests:
            cpu: "{{cpu_request}}"
            memory: "{{memory_request}}G"
            ephemeral-storage: "{{storage}}Gi"
        volumeMounts:
        - mountPath: "/scratch"
          name: scratch-volume
