apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed_job: "builder"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{job_name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 3600
  activeDeadlineSeconds: {{project.build_deadline}}
  template:
    metadata:
      labels:
        cykubed_job: "builder"
        project_id: "{{project.id}}"
        local_id: "{{local_id}}"
        testrun_id: "{{testrun_id}}"
        branch: "{{branch}}"
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            claimName: "{{pvc_name}}"
{{& spot }}
      restartPolicy: Never
      priorityClassName: "{{priority_class}}"
      containers:
      - name: "cykubed-builder"
        image: "{{image}}"
        env:
        - name: BUILD_DIR
          value: "/build"
        {{#agent_url}}
        - name: AGENT_URL
          value: "{{agent_url}}"
        {{/agent_url}}
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "build", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{project.build_cpu}}"
            memory: "{{project.build_memory}}G"
          requests:
            cpu: "{{project.build_cpu}}"
            memory: "{{project.build_memory}}G"
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
