apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "build-{{sha}}"
  namespace: "{{namespace}}"
  labels:
    sha: "{{sha}}"
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
spec:
  storageClassName: "{{storage_class}}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{storage}}Gi"
