apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "build-{{project_id}}-{{testrun_id}}"
  namespace: "{{namespace}}"
spec:
  storageClassName: "cykubed-storageclass"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{storage}}Gi"
---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed-job: "checkout"
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 5
  ttlSecondsAfterFinished: 3600
  activeDeadlineSeconds: {{deadline}}
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            claimName: "build-{{project_id}}-{{testrun_id}}"
      restartPolicy: Never
      priorityClassName: "cykubed-low-priority"
      containers:
      - name: "cloner"
        image: "{{runner_image}}"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "cykubed-redis"
              key: "redis-password"
        - name: BUILD_DIR
          value: "/build"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "clone", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{cpu_limit}}"
            memory: "{{memory_limit}}G"
          requests:
            cpu: "{{cpu_request}}"
            memory: "{{memory_request}}G"
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
