apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{node_pvc_name}}"
  namespace: "{{namespace}}"
spec:
  storageClassName: "cykubed-storageclass"
  accessModes:
    - ReadWriteOnce
{{#node_snapshot_name}}
  dataSource:
    apiGroup: snapshot.storage.k8s.io
    kind: VolumeSnapshot
    name: {{node_snapshot_name}}
{{/node_snapshot_name}}
  resources:
    requests:
      storage: "{{storage}}Gi"
