apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed_job: "prepare-cache"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{project.organisation_id}}-cache-{{project.name}}-{{local_id}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 60
  template:
    metadata:
      labels:
        cykubed_job: "prepare-cache"
        project_id: "{{project.id}}"
        local_id: "{{local_id}}"
        testrun_id: "{{testrun_id}}"
        branch: "{{branch}}"
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            claimName: "{{pvc_name}}"
{{& spot }}
      restartPolicy: Never
      priorityClassName: "{{ priority_class }}"
      containers:
      - name: "prepare"
        image: "{{image}}"
        env:
        - name: BUILD_DIR
          value: "/build"
        {{#agent_url}}
        - name: AGENT_URL
          value: "{{agent_url}}"
        {{/agent_url}}
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "prepare_cache", "{{testrun_id}}"]
        resources:
          limits:
            cpu: 200m
            memory: 1G
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
