apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed-job: "prepare-cache"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "cache-{{project.name}}-{{local_id}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 60
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            claimName: "{{pvc_name}}"
      restartPolicy: Never
      priorityClassName: "cykubed-low-priority"
      containers:
      - name: "prepare"
        image: "{{project.runner_image}}"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ redis_secret_name }}"
              key: "redis-password"
        - name: BUILD_DIR
          value: "/build"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "prepare_cache", "{{testrun_id}}"]
        resources:
          limits:
            cpu: 200m
            memory: 1G
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
