apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshot
metadata:
  name: "{{snapshot_name}}"
  namespace: "{{namespace}}"
  labels:
{{#testrun_id}}
    testrun_id: "{{testrun_id}}"
{{/testrun_id}}
spec:
{{#snapshot_class_name}}
  volumeSnapshotClassName: {{snapshot_class_name}}
{{/snapshot_class_name}}
  source:
    persistentVolumeClaimName: "{{pvc_name}}"
