apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshot
metadata:
  name: "{{snapshot_name}}"
  namespace: "{{namespace}}"
spec:
  volumeSnapshotClassName: cykubed-snapshotclass
  source:
    persistentVolumeClaimName: "{{pvc_name}}"
