apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{pvc_name}}"
  namespace: "{{namespace}}"
  labels:
    sha: "{{sha}}"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
spec:
  storageClassName: "{{storage_class}}"
  accessModes:
{{#read_only}}
    - ReadOnlyMany
{{/read_only}}
{{^read_only}}
    - ReadWriteOnce
{{/read_only}}
{{#snapshot_name}}
  dataSource:
    apiGroup: snapshot.storage.k8s.io
    kind: VolumeSnapshot
    name: "{{snapshot_name}}"
{{/snapshot_name}}
  resources:
    requests:
      storage: "{{storage}}Gi"
