apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ro_pvc_name}}"
  namespace: "{{namespace}}"
  labels:
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
spec:
  storageClassName: "cykubed-storageclass"
  accessModes:
    - ReadOnlyMany
  dataSource:
    kind: PersistentVolumeClaim
    name: "{{rw_pvc_name}}"
  resources:
    requests:
      storage: "{{storage}}Gi"
