apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "build-{{sha}}-ro"
  namespace: "{{namespace}}"
  labels:
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
spec:
  storageClassName: "cykubed-storageclass"
  accessModes:
    - ReadOnlyMany
  dataSource:
    kind: PersistentVolumeClaim
    name: "build-{{sha}}"
  resources:
    requests:
      storage: "{{storage}}Gi"
---

apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed-job: "runner"
    project_id: "{{project_id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 10
  ttlSecondsAfterFinished: 86400
  parallelism: {{parallelism}}
  activeDeadlineSeconds: {{deadline}}
  template:
    metadata:
      labels:
        project_id: "{{project_id}}"
        local_id: "{{local_id}}"
        testrun_id: "{{testrun_id}}"
        branch: "{{branch}}"
    spec:
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            readOnly: true
            claimName: "build-{{sha}}-ro"
      {{#gke_spot_enabled}}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: {{gke_spot_percentage}}
            preference:
              matchExpressions:
              - key: cloud.google.com/gke-spot
                operator: In
                values:
                - "true"
      {{/gke_spot_enabled}}
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      restartPolicy: OnFailure
      priorityClassName: "cykubed-low-priority"
      containers:
      - name: "cykubed-runner"
        image: {{runner_image}}
        env:
        - name: BUILD_DIR
          value: "/build"
        - name: CYPRESS_RETRIES
          value: "{{cypress_retries}}"
        - name: TZ
          value: "{{timezone}}"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "cykubed-redis"
              key: "redis-password"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "run", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{cpu_limit}}"
            memory: "{{memory_limit}}G"
          requests:
            cpu: "{{cpu_request}}"
            memory: "{{memory_request}}G"
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
