apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed_job: "runner"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 10
  ttlSecondsAfterFinished: 3600
  parallelism: {{parallelism}}
  activeDeadlineSeconds: {{project.runner_deadline}}
  template:
    metadata:
      labels:
        cykubed_job: "runner"
        project_id: "{{project.id}}"
        local_id: "{{local_id}}"
        testrun_id: "{{testrun_id}}"
        branch: "{{branch}}"
    spec:
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          {{#read_only_pvc}}
          persistentVolumeClaim:
            readOnly: true
            claimName: "{{pvc_name}}"
          {{/read_only_pvc}}
          {{^read_only_pvc}}
          ephemeral:
            volumeClaimTemplate:
              spec:
                dataSource:
                  apiGroup: snapshot.storage.k8s.io
                  kind: VolumeSnapshot
                  name: "{{build_snapshot_name}}"
                accessModes:
                  - ReadWriteOnce
                storageClassName: "{{storage_class}}"
                resources:
                    requests:
                      storage: "{{storage}}Gi"
          {{/read_only_pvc}}
      {{#spot_enabled}}
      {{#use_spot_affinity}}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: {{spot_percentage}}
            preference:
              matchExpressions:
              {{#gke}}
              - key: cloud.google.com/gke-spot
                operator: In
                values:
                - "true"
              {{/gke}}
              {{#aks}}
              - key: "kubernetes.azure.com/scalesetpriority"
                operator: In
                values:
                - "spot"
              {{/aks}}
      {{/use_spot_affinity}}
      {{^use_spot_affinity}}
      nodeSelector:
        cloud.google.com/gke-spot: "true"
      {{/use_spot_affinity}}
      {{/spot_enabled}}
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      restartPolicy: OnFailure
      priorityClassName: "{{priority_class}}"
      containers:
      - name: "cykubed-runner"
        image: {{project.runner_image}}
        env:
        - name: BUILD_DIR
          value: "/build"
        - name: CYPRESS_RETRIES
          value: "{{cypress_retries}}"
        - name: TZ
          value: "{{project.timezone}}"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ redis_secret_name }}"
              key: "redis-password"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "run", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{project.runner_cpu}}"
            memory: "{{project.runner_memory}}G"
          requests:
            cpu: "{{project.runner_cpu}}"
            memory: "{{project.runner_memory}}G"
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
