apiVersion: batch/v1
kind: Job
metadata:
  labels:
    cykubed-job: "runner"
    project_id: "{{project.id}}"
    local_id: "{{local_id}}"
    testrun_id: "{{testrun_id}}"
    branch: "{{branch}}"
  name: "{{name}}"
  namespace: "{{namespace}}"
spec:
  backoffLimit: 10
  ttlSecondsAfterFinished: 3600
  parallelism: {{parallelism}}
  activeDeadlineSeconds: {{project.runner_deadline}}
  template:
    metadata:
      labels:
        project_id: "{{project.id}}"
        local_id: "{{local_id}}"
        testrun_id: "{{testrun_id}}"
        branch: "{{branch}}"
    spec:
      serviceAccountName: "cykubed"
      volumes:
        - name: build-volume
          persistentVolumeClaim:
            readOnly: true
            claimName: "{{build_pvc_name}}"
        - name: node-volume
          persistentVolumeClaim:
            readOnly: true
            claimName: "{{node_pvc_name}}"
      {{#project.spot_enabled}}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: {{project.spot_percentage}}
            preference:
              matchExpressions:
              - key: cloud.google.com/gke-spot
                operator: In
                values:
                - "true"
      {{/project.spot_enabled}}
      securityContext:
        runAsNonRoot: true
        fsGroup: 10000
        runAsUser: 10000
        runAsGroup: 10000
      restartPolicy: OnFailure
      priorityClassName: "cykubed-low-priority"
      containers:
      - name: "cykubed-runner"
        image: {{project.runner_image}}
        env:
        - name: BUILD_DIR
          value: "/build"
        - name: NODE_CACHE_DIR
          value: "/node"
        - name: CYPRESS_RETRIES
          value: "{{cypress_retries}}"
        - name: TZ
          value: "{{project.timezone}}"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ redis_secret_name }}"
              key: "redis-password"
        envFrom:
          - configMapRef:
              name: cykubed-agent-configmap
          - secretRef:
              name: cykubed-agent-secrets
        args: [ "run", "{{testrun_id}}"]
        resources:
          limits:
            cpu: "{{project.runner_cpu}}"
            memory: "{{project.runner_memory}}G"
          requests:
            cpu: "{{project.runner_cpu}}"
            memory: "{{project.runner_memory}}G"
        volumeMounts:
        - mountPath: "/build"
          name: build-volume
        - mountPath: "/node"
          name: node-volume
